In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [5]:
missing_value = ["N/A","na",np.nan]
df = pd.read_csv("/kaggle/input/cropdataset/Crop_Dataset.csv", na_values=missing_value)

In [6]:
df.head(5)

,N,P,K,temperature,humidity,ph,rainfall,Total_Nutrients,Temperature_Humidity,Log_Rainfall,Label,Label_Encoded
0,90,42,43,20.879744,82.002744,6.502985,202.935536,175,1712.196283,5.317804,wheat,0
1,85,58,41,21.770462,80.319644,7.038096,226.655537,184,1748.595734,5.427834,wheat,0
2,60,55,44,23.004459,82.320763,7.840207,263.964248,159,1893.744627,5.579595,wheat,0
3,74,35,40,26.491096,80.158363,6.980401,242.864034,149,2123.482908,5.496611,wheat,0
4,78,42,42,20.130175,81.604873,7.628473,262.717340,162,1642.720357,5.574878,wheat,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   N                     2200 non-null   int64
 1   P                     2200 non-null   int64
 2   K                     2200 non-null   int64
 3   temperature           2200 non-null   float64
 4   humidity              2200 non-null   float64
 5   ph                    2200 non-null   float64
 6   rainfall              2200 non-null   float64
 7   Total_Nutrients       2200 non-null   int64
 8   Temperature_Humidity  2200 non-null   float64
 9   Log_Rainfall          2200 non-null   float64
 10  Label                 2200 non-null   object
 11  Label_Encoded         2200 non-null   int64
dtypes: float64(6), int64(5), object(1)
memory usage: 206.4+ KB

In [8]:
df.isnull().sum()

N                       0
P                       0
K                       0
temperature             0
humidity                0
ph                      0
rainfall                0
Total_Nutrients         0
Temperature_Humidity    0
Log_Rainfall            0
Label                   0
Label_Encoded           0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.describe()

,N,P,K,temperature,humidity,ph,rainfall,Total_Nutrients,Temperature_Humidity,Log_Rainfall,Label_Encoded
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655,152.063636,1854.231566,4.508730,10.500000
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389,79.918669,699.366334,0.545400,6.345731
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267,17.000000,247.613182,3.054533,0.000000
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686,94.000000,1479.558114,4.182839,5.000000
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624,146.000000,1927.883340,4.562968,10.500000
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508,179.000000,2255.752423,4.830451,16.000000
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117,385.000000,4073.159566,5.702315,21.000000

In [11]:
label_counts = df['Label'].value_counts()
print(label_counts)

Label
wheat               100
barley              100
rapeseed            100
potatoes            100
apples              100
strawberries        100
blackcurrants       100
pears               100
raspberries         100
plums               100
cherries            100
beets               100
carrots             100
turnips             100
peas                100
beans               100
cabbage             100
brussels_sprouts    100
cauliflower         100
spinach             100
lettuce             100
tomatoes            100
Name: count, dtype: int64

In [12]:
crop_dict = {
    'wheat': 1,
    'barley': 2,
    'rapeseed': 3,
    'potatoes': 4,
    'apples': 5,
    'strawberries': 6,
    'blackcurrants': 7,
    'pears': 8,
    'raspberries': 9,
    'plums': 10,
    'cherries': 11,
    'beets': 12,
    'carrots': 13,
    'turnips': 14,
    'peas': 15,
    'beans': 16,
    'cabbage': 17,
    'brussels_sprouts': 18,
    'cauliflower': 19,
    'spinach': 20,
    'lettuce': 21,
    'tomatoes': 22
}

df['crop_num']=df['Label'].map(crop_dict)

In [13]:
df.head()

,N,P,K,temperature,humidity,ph,rainfall,Total_Nutrients,Temperature_Humidity,Log_Rainfall,Label,Label_Encoded,crop_num
0,90,42,43,20.879744,82.002744,6.502985,202.935536,175,1712.196283,5.317804,wheat,0,1
1,85,58,41,21.770462,80.319644,7.038096,226.655537,184,1748.595734,5.427834,wheat,0,1
2,60,55,44,23.004459,82.320763,7.840207,263.964248,159,1893.744627,5.579595,wheat,0,1
3,74,35,40,26.491096,80.158363,6.980401,242.864034,149,2123.482908,5.496611,wheat,0,1
4,78,42,42,20.130175,81.604873,7.628473,262.717340,162,1642.720357,5.574878,wheat,0,1

In [14]:
df.tail()

,N,P,K,temperature,humidity,ph,rainfall,Total_Nutrients,Temperature_Humidity,Log_Rainfall,Label,Label_Encoded,crop_num
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,173,1778.191164,5.186125,tomatoes,21,22
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,141,1552.805515,4.859228,tomatoes,21,22
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,181,1622.263022,5.160909,tomatoes,21,22
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,183,1369.512711,4.853399,tomatoes,21,22
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,152,1425.538942,4.955384,tomatoes,21,22

In [15]:
#Check if assigned successfully
df['crop_num'].value_counts()

crop_num
1     100
2     100
3     100
4     100
5     100
6     100
7     100
8     100
9     100
10    100
11    100
12    100
13    100
14    100
15    100
16    100
17    100
18    100
19    100
20    100
21    100
22    100
Name: count, dtype: int64

In [16]:
df.drop(columns=['Label_Encoded'], inplace=True)

In [17]:
df.head()

,N,P,K,temperature,humidity,ph,rainfall,Total_Nutrients,Temperature_Humidity,Log_Rainfall,Label,crop_num
0,90,42,43,20.879744,82.002744,6.502985,202.935536,175,1712.196283,5.317804,wheat,1
1,85,58,41,21.770462,80.319644,7.038096,226.655537,184,1748.595734,5.427834,wheat,1
2,60,55,44,23.004459,82.320763,7.840207,263.964248,159,1893.744627,5.579595,wheat,1
3,74,35,40,26.491096,80.158363,6.980401,242.864034,149,2123.482908,5.496611,wheat,1
4,78,42,42,20.130175,81.604873,7.628473,262.717340,162,1642.720357,5.574878,wheat,1

In [18]:
from sklearn.model_selection import train_test_split

X = df.drop(['crop_num','Label'],axis=1)
y = df['crop_num']

In [19]:
X

,N,P,K,temperature,humidity,ph,rainfall,Total_Nutrients,Temperature_Humidity,Log_Rainfall
0,90,42,43,20.879744,82.002744,6.502985,202.935536,175,1712.196283,5.317804
1,85,58,41,21.770462,80.319644,7.038096,226.655537,184,1748.595734,5.427834
2,60,55,44,23.004459,82.320763,7.840207,263.964248,159,1893.744627,5.579595
3,74,35,40,26.491096,80.158363,6.980401,242.864034,149,2123.482908,5.496611
4,78,42,42,20.130175,81.604873,7.628473,262.717340,162,1642.720357,5.574878
...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,173,1778.191164,5.186125
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,141,1552.805515,4.859228
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,181,1622.263022,5.160909
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,183,1369.512711,4.853399
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,152,1425.538942,4.955384

In [20]:
y.shape

(2200,)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
X_train.shape

(1760, 10)

In [23]:
X_test.shape

(440, 10)

In [24]:
from sklearn.preprocessing import MinMaxScaler

ms = MinMaxScaler()

X_train = ms.fit_transform(X_train)
X_test = ms.transform(X_test)

In [25]:
X_train

array([[0.12142857, 0.07857143, 0.045     , ..., 0.08152174, 0.33036259,
        0.59918833],
       [0.26428571, 0.52857143, 0.07      , ..., 0.32065217, 0.43457684,
        0.45168127],
       [0.05      , 0.48571429, 0.1       , ..., 0.23913043, 0.38946092,
        0.29220042],
       ...,
       [0.07857143, 0.22142857, 0.13      , ..., 0.16576087, 0.31318603,
        0.58927596],
       [0.07857143, 0.85      , 0.995     , ..., 0.875     , 0.21635306,
        0.46224409],
       [0.22857143, 0.52142857, 0.085     , ..., 0.3125    , 0.32599284,
        0.35406394]])

In [26]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()


sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [27]:
X_train

array([[-0.9034266 , -1.1261617 , -0.6685066 , ..., -1.30884946,
        -0.49116387,  0.26336659],
       [-0.36705134,  0.77035885, -0.57058952, ..., -0.21433135,
         0.08475516, -0.44967674],
       [-1.17161422,  0.58973784, -0.45308903, ..., -0.58746253,
        -0.16456883, -1.22060091],
       ...,
       [-1.06433917, -0.52409169, -0.33558853, ..., -0.92328058,
        -0.58608666,  0.2154506 ],
       [-1.06433917,  2.12501638,  3.05234239, ...,  2.32296063,
        -1.12121453, -0.39861647],
       [-0.50114515,  0.74025535, -0.51183927, ..., -0.25164447,
        -0.5153124 , -0.92155506]])

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# create instances of all models
models = {
    'Logistic Regression': LogisticRegression(),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
}


for name, md in models.items():
    md.fit(X_train,y_train)
    ypred = md.predict(X_test)
    
    print(f"{name}  with accuracy : {accuracy_score(y_test,ypred)}")

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression  with accuracy : 0.9636363636363636
Support Vector Machine  with accuracy : 0.9704545454545455
K-Nearest Neighbors  with accuracy : 0.9704545454545455
Decision Tree  with accuracy : 0.975
Random Forest  with accuracy : 0.990909090909091

In [29]:
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)
ypred = rfc.predict(X_test)
accuracy_score(y_test,ypred)

0.990909090909091

In [37]:
import joblib

joblib.dump(rfc, 'rfc_model.joblib')

['rfc_model.joblib']

In [40]:
model = joblib.load('rfc_model.joblib')

def recommendation(N,P,K,temperature,humidity,ph,rainfall,Total_Nutrients,Temperature_Humidity,Log_Rainfall):
    features = np.array([[N,P,K,temperature,humidity,ph,rainfall,Total_Nutrients,Temperature_Humidity,Log_Rainfall]])
    transformed_features = ms.fit_transform(features)
    transformed_features = sc.fit_transform(transformed_features)
    predictions_proba = model.predict_proba(transformed_features)[0]  # Predict probabilities for all classes
    top_3_indices = np.argsort(predictions_proba)[::-1][:3]  # Get indices of top 3 probabilities
    top_3_predictions = [top_3_indices[i] + 1 for i in range(3)]  # Convert indices to crop numbers (indices are 0-based)
    
    return top_3_predictions

In [45]:
N = 56
P = 65
K = 45
temperature = 39
humidity = 94
ph = 7
rainfall = 218
Total_Nutrients = 166
Temperature_Humidity = 3590
Log_Rainfall = 6

predictions = recommendation(N, P, K, temperature, humidity, ph, rainfall, Total_Nutrients, Temperature_Humidity, Log_Rainfall)

crop_dict = {
    1: 'wheat', 2: 'barley', 3: 'rapeseed', 4: 'potatoes', 5: 'apples', 6: 'strawberries', 7: 'blackcurrants',
    8: 'pears', 9: 'raspberries', 10: 'plums', 11: 'cherries', 12: 'beets', 13: 'carrots', 14: 'turnips',
    15: 'peas', 16: 'beans', 17: 'cabbage', 18: 'brussels_sprouts', 19: 'cauliflower', 20: 'spinach', 
    21: 'lettuce', 22: 'tomatoes'
}

for crop_num in predictions:  
    if crop_num in crop_dict:
        crop = crop_dict[crop_num]
        print("{} is a best crop to be cultivated".format(crop))
    else:
        print("Sorry, we are not able to recommend a proper crop for this environment")

strawberries is a best crop to be cultivated
beets is a best crop to be cultivated
cauliflower is a best crop to be cultivated